<!doctype html>
<html ng-app="ProveItApp">
<head>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script type="text/javascript" src="lib/js/jquery-2.1.1.min.js"></script>
	
	<!-- Load all libraries -->
	<script type="text/javascript" src="lib/js/underscore-min.js"></script>
	<script type="text/javascript" src="lib/js/angular.min.js"></script>
	<script type="text/javascript" src="lib/js/angular-sanitize.min.js"></script>


	<!-- Bootstrap -->
	<link href="lib/css/bootstrap.min.css" rel="stylesheet" />
	<script type="text/javascript" src="lib/js/bootstrap.min.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- UI Bootstrap for Angular -->
	<script type="text/javascript" src="lib/js/ui-bootstrap-tpls-0.11.0.min.js"></script>


	<!-- Load custome font from Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<!-- Load Angular components -->
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>

	<!-- Load custom stylesheet -->
	<link href="css/stylesheet.css" rel="stylesheet" />

	<!-- Set the viewport for iOS devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<!-- Set bookmark icons -->
	<link rel="apple-touch-icon" href="icons/apple-touch-icon-60.png">
	<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-touch-icon-76.png">
	<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-touch-icon-120.png">
	<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-touch-icon-152.png">

</head>
<body  ng-controller="ProveItSearchController" ng-class="{'not-stealth':!stealthMode, 'stealth':stealthMode}">





	<div ng-hide="stealthMode">
		<div class="container-fluid">
			<header class="row main-title">
				<h2>Prove Me Wrong...</h2>
				<h1>Jack!</h1>
			</header>
		</div>

		<div class="container">

			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

					<h3>Settle bets on <em>your</em> terms!</h3>
					<p>Use <em>Prove Me Wrong</em> to create a fake listing of search results to fraudulently prove that you know your trivia. Has life been found on Mars? <a href="#" ng-click="submitSearch('NASA finds intelligent life on Mars')">Sure has</a>. Are unicorns a real animal? <a href="#" ng-click="submitSearch('First real live unicorn discovered in New Zealand')">Yep</a>. Is a potato a fruit? <a href="#" ng-click="submitSearch('Potato is a fruit')">You betcha</a>.</p>


					<h3>Try Me!</h3>
					<div class="demo-wrapper">
						<form class=" search-container" ng-submit="submitSearch()">
							<div class="input-group input-group-lg">
								<input type="text" class="form-control search-input-field" placeholder="What do you want to prove?" ng-model="searchInput">
								<span class="input-group-btn">
									<button class="btn btn-default search-submit-button" type="submit">Prove It!</button>
								</span>
							</div>
						</form>

						<!-- Show the demo results -->
						<div class="demo-results" ng-include="templateURL"></div>

					</div>


					<h3>Stealth Mode!</h3>
					<p>Once you're familiar with how all this works, switch into <a href="#" ng-click="toggleStealthMode()">Stealth Mode</a> to disguise <em>Prove Me Wrong</em> as a legitimate search engine. This setting will be remembered next time you use <em>Prove Me Wrong</em>.</p>
					<button type="button" class="btn btn-default btn-lg btn-block" ng-click="toggleStealthMode()">Enter Stealth Mode</button>


					<h3>Donate!</h3>
					<p>Did you know that <a href="#" ng-click="submitSearch('curse blamed for yet more deaths of prominent bitcoin owners')">bitcoin is cursed</a>? You better let me hang onto them for you.</p>
				</div>
			</div>
		</div>
	</div>









	<div ng-show="stealthMode">
		
		<div class="container-fluid stealth-search-wrapper" ng-class="{'hero-view':htmlSearchString.length == 0}">

			<header class="row">
				<div class="container">
					<h1>JackSearch</h1>
					<form class=" search-container" ng-submit="submitSearch()" role="search" action="">
						<div class="input-group">
							<input type="search" name="search" class="form-control search-input-field" ng-model="searchInput" id="stealthSearchField">
							<span class="input-group-btn">
								<button class="btn btn-primary search-submit-button" type="submit"><span class="glyphicon glyphicon-search"></span></button>
							</span>
						</div>
					</form>
				</div>
			</header>

			<div class="container results-container">
				<div class="row results" ng-include="templateURL"></div>
			</div>

			<footer>
				<a href="#" ng-click="toggleStealthMode()">Exit Stealth Mode</a>
			</footer>
		</div>

	</div>






</body>
</html>