<ol>
	<li class="result">
		<a href="#" class="result-title">BREAKING: <span ng-bind-html="htmlSearchString"></span></a>
		<span class="result-domain">www.cnn.com</span>
		<span class="result-body-preview">Early reports indicate that <span ng-bind-html="htmlSearchString"></span>. Some witnesses are calling the event ... <span ng-bind-html="htmlSearchString"></span> came as a surprise to ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title"><span ng-bind-html="htmlSearchString"></span> | Report</a>
		<span class="result-domain">www.reuters.com</span>
		<span class="result-body-preview">As of this morning, <span ng-bind-html="htmlSearchString"></span>. ... Experts agree that <span ng-bind-html="htmlSearchString"></span> will have major ramifications to the way we ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title">Now that <span ng-bind-html="htmlSearchString"></span>, what happens next?</a>
		<span class="result-domain">www.yahoo.com</span>
		<span class="result-body-preview">Well, the news has finally arrived. <span ng-bind-html="htmlSearchString"></span>. What does this mean for you? ... while others say that <span ng-bind-html="htmlSearchString"></span> is actually good news. ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title">Did you know <span ng-bind-html="htmlSearchString"></span>?</a>
		<span class="result-domain">www.cracked.com</span>
		<span class="result-body-preview">I hope you don't read this too closely, but <span ng-bind-html="htmlSearchString"></span>. ... This news comes on the heels of <span ng-bind-html="htmlSearchString"></span> ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title">BREAKING: <span ng-bind-html="htmlSearchString"></span></a>
		<span class="result-domain">www.cnn.com</span>
		<span class="result-body-preview">Early reports indicate that <span ng-bind-html="htmlSearchString"></span>. Some witnesses are calling the event ... <span ng-bind-html="htmlSearchString"></span> came as a surprise to ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title"><span ng-bind-html="htmlSearchString"></span> | Report</a>
		<span class="result-domain">www.reuters.com</span>
		<span class="result-body-preview">As of this morning, <span ng-bind-html="htmlSearchString"></span>. ... Experts agree that <span ng-bind-html="htmlSearchString"></span> will have major ramifications to the way we ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title">Now that <span ng-bind-html="htmlSearchString"></span>, what happens next?</a>
		<span class="result-domain">www.yahoo.com</span>
		<span class="result-body-preview">Well, the news has finally arrived. <span ng-bind-html="htmlSearchString"></span>. What does this mean for you? ... while others say that <span ng-bind-html="htmlSearchString"></span> is actually good news. ...</span>
	</li>

	<li class="result">
		<a href="#" class="result-title">Did you know <span ng-bind-html="htmlSearchString"></span>?</a>
		<span class="result-domain">www.cracked.com</span>
		<span class="result-body-preview">I hope you don't read this too closely, but <span ng-bind-html="htmlSearchString"></span>. ... This news comes on the heels of <span ng-bind-html="htmlSearchString"></span> ...</span>
	</li>
</ol>
